<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl" class="dark">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
</head>
<body class="bg-darkPrimary text-white flex">
<!-- Przyciski Mobilne -->
<header class="fixed w-full bg-darkSecondary p-4 flex items-center justify-between md:hidden z-50">
    <button onclick="toggleSidebar()" class="focus:outline-none">
        <i class="fas fa-bars text-gray-300 text-2xl"></i>
    </button>
    <h1 class="text-xl font-semibold">Dashboard</h1>
</header>
<!-- Sidebar -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- Główna Zawartość -->
<main class="flex-1 p-6 mt-16 md:mt-0">
    <!-- Treść Strony -->
</main>
</body>

<script>
        document.addEventListener('DOMContentLoaded', () => {
        const html = document.documentElement;
        const themeIcon = document.getElementById('theme-icon');
        const themeText = document.getElementById('theme-text');
        const theme = localStorage.getItem('theme');

        if (theme === 'dark') {
        html.classList.add('dark');
        themeIcon.classList.replace('fa-moon', 'fa-sun');
        themeText.textContent = 'Tryb jasny';
    } else {
        html.classList.remove('dark');
        themeIcon.classList.replace('fa-sun', 'fa-moon');
        themeText.textContent = 'Tryb ciemny';
    }
    });

        function toggleTheme() {
        const html = document.documentElement;
        const themeIcon = document.getElementById('theme-icon');
        const themeText = document.getElementById('theme-text');

        if (html.classList.contains('dark')) {
        html.classList.remove('dark');
        themeIcon.classList.replace('fa-sun', 'fa-moon');
        themeText.textContent = 'Tryb ciemny';
        localStorage.setItem('theme', 'light');
    } else {
        html.classList.add('dark');
        themeIcon.classList.replace('fa-moon', 'fa-sun');
        themeText.textContent = 'Tryb jasny';
        localStorage.setItem('theme', 'dark');
    }

    }
    function toggleSidebar() {
        const sidebar = document.querySelector('aside');
        const overlay = document.getElementById('sidebar-overlay');

        if (sidebar.classList.contains('-translate-x-0')) {
            sidebar.classList.remove('-translate-x-0');
            sidebar.classList.add('-translate-x-full');
            overlay.classList.add('hidden');
        } else {
            sidebar.classList.remove('-translate-x-full');
            sidebar.classList.add('-translate-x-0');
            overlay.classList.remove('hidden');
        }
    }
</script>

</html>
