<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
    <title>AdminPanel - Error 404</title>
    <meta charset="utf-8"/>
    <meta content="follow, index" name="robots"/>
    <meta content="Error 500 page, using Tailwind CSS" name="description"/>

    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body class="antialiased flex h-full text-base text-gray-700 bg-white dark:bg-gray-800">
<main class="flex-grow flex flex-col items-center justify-center">
    <div class="mb-10">
        <img id="theme-image" alt="image" class="max-h-[160px]" src="media/illustrations/19.svg"/>
    </div>
    <span class="inline-block px-3 py-1 bg-blue-100 text-blue-700 border border-blue-500 rounded-full mb-3">
            404 Error
        </span>
    <h3 class="text-2xl font-semibold text-gray-900 dark:text-white text-center mb-2">
        Nie możemy znaleźć strony
    </h3>
    <div class="text-md font-medium text-center text-gray-600 dark:text-gray-300 mb-10">
        Poszukiwana strona nie istnieje. Sprawdź adres URL
        <a class="text-blue-600 font-medium hover:underline" href="/home">
            Powrót do ekranu startowego
        </a>.
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const img = document.getElementById('theme-image');
        const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');

        function updateImage() {
            if (darkModeMediaQuery.matches) {
                img.src = 'media/illustrations/19-dark.svg';
            } else {
                img.src = 'media/illustrations/19.svg';
            }
        }

        darkModeMediaQuery.addEventListener('change', updateImage);
        updateImage();
    });
</script>
</body>
</html>
